body {background-color: #D9A3F8;}
h1 {color: #8000808; font-family: Helvetica; font-size: 24px;}
p{color: #6E09F8; font-family: Garamond; font-size: 18px;}
h1{ text-align: center; }
body{text-align: center;}
img{margin-left: 100px ; border-style:solid;}
ul{color: #2DF809; text-decoration: none;}
